<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header')-%>
    <h1>Home</h1>
    <p>Welcome to Home</p>
  </body>
</html>
